$headings: h1, h2, h3, h4, h5, h6;
$text-contents: p, ul, ol, blockquote, pre, '.p';
$block-elements: #{$headings}, #{$text-contents}, figure, '.wp-block-image';

html {
	font-size: $font-size-root;

	@media (max-width: 768px) {
		font-size: $font-size-root-mobile;
	}
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0 $spacer/2;

	@media (max-width: 640px) {
		padding: 0;
	}

	&.menu-visible {
		overflow: hidden;
	}

	> * {
		flex-shrink: 0;
	}
}

#{$block-elements} {
	// margin: 0;
	margin-bottom: $text-block-margin;
}

#{$headings}, #{$text-contents} {
	// max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
	height: auto;

	p & {
		margin-bottom: $spacer/2;
	}
}

a,
button {
	&:focus {
		outline: none;
	}
}

hr {
}

ul,
ol {
	padding-left: 1em;

	ul,
	ol {
		padding-left: $spacer * 1.5;
	}
}

.wrap {
	flex-grow: 1;
}

.content {
	flex-wrap: nowrap;
	padding-bottom: $spacer * 3;
	// overflow-x: hidden;
}

.main {
	@include make-col-ready();
	@include make-col($grid-columns);
}

.sidebar {
	@include make-col-ready();
	@include media-breakpoint-down(xs) {
		@include make-col($grid-columns * 0.9);
	}
	@include media-breakpoint-up(sm) {
		@include make-col($grid-columns/2);
	}
	@include media-breakpoint-up(md) {
		@include make-col($grid-columns/3);
	}
	// @include media-breakpoint-up(lg) {
	// 	@include make-col($sidebar-sm-columns);
	// }

	overflow: hidden;
	max-height: 0;
	position: fixed;
	bottom: -15px;
	right: 0;
	height: 90vh;
	height: calc(100vh - #{$header-height} + 15px);
	// height: 100vh;
	transition: 0.5s max-height;
	background-color: $body-bg;
	background-color: $corp-color;
	border-left: 15px solid $body-bg;
	border-top: 15px solid $body-bg;
	color: $body-bg;
	// border-left: 1px solid #ddd;
	// border-top: 1px solid #ccc;
	// box-shadow: -5px 0 5px -5px rgba(black, 0.15);
	z-index: 10000;

	&.visible {
		max-height: 100vh;
	}

	.nav {
		@extend .flex-column;
		height: 90vh;
		height: calc(100vh - #{$header-height});
		position: absolute;
		bottom: 0;
		padding-top: $content-padding-top;

		li {
			display: block;
			margin: 0;
			// line-height: 1.5;
			font-size: 24px;
			margin-bottom: $spacer*0.5;
		}
			a {
				&:hover {
					color: inherit;
					color: $link-color;
					text-decoration: none;
				}
			}
	}
}

.page-title {
	// color: $magenta;
	display: inline-block;
	margin-bottom: 0;
	line-height: inherit;
}

.page-header {
	padding: $content-padding-top 0;

	&__breadcrumbs {
		margin-bottom: $spacer * 1.5;
	}
}

.single {
	.main {
		max-width: 45rem;
	}
}
