$font-size-root: 16px !default;

@function px-to-rem($nums...) {
	$length: length($nums);

	@if $length == 1 {

		$px: nth($nums, 1);
		$type: type-of($px);

		@if $type == number {
			@if unit($px) == px {
				@return $px*1rem/$font-size-root;
			}
			@else if unit($px) == rem {
				@return $px;
			}
			@else if $px == 0 {
				@return 0rem;
			}
		}
		@else if $type == list {
			@return px-to-rem($px...);
		}

		@return null;
	}
	@else {
		$return: ();
		@each $px in $nums {
			$return: append($return, px-to-rem($px));
		}
		@return $return;
	}
}

@function rem-to-px($nums...) {
	$length: length($nums);

	@if $length == 1 {

		$rem: nth($nums, 1);
		$type: type-of($rem);

		@if $type == number {
			@if unit($rem) == rem {
				@return $rem*$font-size-root/1rem;
			}
			@else if unit($rem) == px {
				@return $rem;
			}
			@else if $rem == 0 {
				@return 0px;
			}
		}
		@else if $type == list {
			@return rem-to-px($rem...);
		}

		@return null;
	}
	@else {
		$return: ();
		@each $rem in $nums {
			$return: append($return, rem-to-px($rem));
		}
		@return $return;
	}
}
