@mixin box-shadow-perspective($x, $y, $c, $force-steps: NULL) {
	$x: rem-to-px($x);
	$y: rem-to-px($y);
	$steps: 1;
	@if $force-steps == NULL {
		$steps: max(abs($x), abs($y))/1px;
	}
	@else {
		$steps: $force-steps;
	}

	$x-inc: 0;
	$y-inc: 0;
	@if $steps != 0 {
		$x-inc: $x/$steps;
		$y-inc: $y/$steps;
	}

	$box-shadow: ();
	@for $i from 1 through $steps {
		$box-shadow: append($box-shadow, #{$x-inc*$i} #{$y-inc*$i} $c, comma);
	}
	// $box-shadow: append($box-shadow, 0 0 2px black, comma);
	box-shadow: $box-shadow;
}

@mixin rise($x, $y, $c: $accent-color, $force-steps: NULL) {
	top: round( rem-to-px($y) ) - $y / abs($y);
	left: round( rem-to-px($x) ) - $x / abs($x);
	@include box-shadow-perspective(-$x, -$y, $c, $force-steps);
}

.article {
	// padding: 0;

	&__inner {
		height: 100%;

		> a {
			text-decoration: none;
			color: $body-color;
			display: block;
			height: 100%;
			// border-bottom: 1px solid transparent;

			* {
				text-decoration: none;
			}
		}
	}
		&__image {
			background-color: $body-bg;
			margin: 0;
			position: relative;
			background: linear-gradient(45deg, grey, black);

			&::before {
				content: '';
				display: inline-block;
				padding-top: 66.666%;
				height: 0;
				width: 0;
				margin-right: -4px;
				vertical-align: middle;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				// opacity: 1;
				// filter: #{'grayscale(100%)'};
				// display: none
			}
		}
			&__overlay {

				/*---- Effect 1 ----*/
				// position: absolute;
				// left: 0;
				// right: 0;
				// bottom: 0;
				// height: 100%;
				// max-height: 0;
				// overflow: hidden;
				// transition: 1s max-height;
				//
				// a:hover & {
				// 	max-height: 100%;
				// }

				/*---- Effect 2 ----*/

				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				visibility: hidden;
				@include rise(0, 0);
				transition-duration: 0.3s;
				transition-property: opacity, left, top, box-shadow, visibility;

				.article:hover & {
					opacity: 1;
					visibility: visible;
					left: -$spacer/2;
					top: -$spacer/2;
					z-index: 100;
					@include rise(-$spacer/2, -$spacer/2);

				// 	animation: move 5s linear;
				// 	animation-iteration-count: infinite;
				}

				/*---- Effect 3 ----*/

				// position: absolute;
				// left: 0;
				// top: 0;
				// width: 100%;
				// height: 100%;
				// opacity: 0;
				// box-shadow: none;
				// transition-duration: 0.3s;
				// transition-property: opacity, box-shadow;
				// transition: 0.3s opacity, 1s box-shadow;
				//
				// a:hover & {
				// 	opacity: 1;
				// 	z-index: 10;
				// 	box-shadow: 0 2px 1px rgba(black, 0.1), 0 2px 3px rgba(black, 0.2);
				// 	box-shadow: 0 2px 5px rgba(black, 0.15);
				// }

				/*---- Effect 4 ----*/
				// position: absolute;
				// left: 0;
				// top: 0;
				// // width: 100%;
				// // height: 100%;
				// right: 0;
				// bottom: 0;
				// opacity: 0;
				// transition-duration: 0.3s;
				// transition-property: opacity, top, left, padding;
				// background-color: $body-bg;
				// background-image: url('../images/box-1.png');
				// background-size: 100% 100%;
				//
				// @for $i from 1 through 5 {
				// 	&--box-#{$i} {
				// 		background-image: url('../images/box-#{$i}.png');
				// 	}
				// }
				//
				// a:hover & {
				// 	opacity: 1;
				// 	top: -$spacer/2;
				// 	left: -$spacer/2;
				// 	padding-right: $spacer/2;
				// 	padding-bottom: $spacer/2;
				//
				// }

			}
			&__overlay-content {
				width: 100%;
				height: 100%;
				padding: $spacer;
				background-color: rgba($body-bg, 0.95);
				background-color: $body-bg;
				display: flex;
				flex-direction: column;
				// border-top: 1px solid #ddd;
				// border-left: 1px solid #ddd;
				// border-right: $spacer/2 solid #ddd;
				// border-bottom: $spacer/2 solid #888;
			}
				&__excerpt {
					width: 100%;
					height: 100%;
					overflow: hidden;
				}

				&__cats {
					font-size: 18px;
				}
				&__more {
					text-align: center;
					margin-top: auto;
					margin-bottom: auto;
					font-size: 56px;
					line-height: 44px;
					padding: $spacer/2 0;

					> a {
						display: inline-block;
						line-height: 32px;
						// height: 3rem;
						padding: 6px;
					}
				}

		&__header {
			// padding: $spacer/2;
			padding-top: $spacer;
			padding-bottom: $spacer*2;
		}
			&__title {
				font-size: 25px;
				// font-weight: bold;
				// text-transform: uppercase;
				margin-bottom: 0;
				display: inline;



				// background-clip: text;
				// background-color: transparent;
				// color: transparent;
				// background-color: black;
				// text-shadow: 1px 1px 0 rgba( $body-bg, 0.4 );
	      // text-shadow: 1px 1px 0 rgba( $headings-color, 1);

				// transition: color 0.3s, text-shadow 0.3s, background-color 0.3s;
				// transition-duration: 0.2s;
				// transition-property: color, background-color;
				// transition-timing-function: linear;
				//

				a {
					color: inherit;

					.article:hover & {

						background-color: $headings-color;
						background-color: $link-color;
						color: white;
						// font-weight: bold;

						&:hover {
							background-color: $link-hover-color;
						}

						/*---- Effect 1 ----*/

						// color: transparent;
						// background-color: rgba($headings-color, 1);
						// text-shadow: 1px 1px 0 rgba( $body-bg, 0.85 );
						// // background-color: black;
						// text-shadow: -2px -2px 0 rgba( $body-bg, 1);
						//
						// // animation: shadow 3s;
						// // animation-iteration-count: infinite;

						/*---- Effect 2 ----*/

						// color: $body-bg;
						// text-shadow: 1px 1px 0 $headings-color, 2px 2px 0 $headings-color;

					}
				}


		}

		@keyframes shadow {
			$max-distance: 1.5px;
			$shadow-color: rgba( $body-bg, 0.8 );
			$shadow-fade: 0;
			0% {
				text-shadow: $max-distance 0 $shadow-fade $shadow-color;
			}
			20% {
				text-shadow: $max-distance $max-distance $shadow-fade $shadow-color;
			}
			40% {
				text-shadow: -$max-distance $max-distance $shadow-fade $shadow-color;
			}
			60% {
				text-shadow: -$max-distance -$max-distance $shadow-fade $shadow-color;
			}
			80% {
				text-shadow: $max-distance -$max-distance $shadow-fade $shadow-color;
			}
			100% {
				text-shadow: $max-distance 0 $shadow-fade $shadow-color;
			}
		}

		@keyframes move {
			$max-distance: $spacer/2;
			0% {
				@include rise(-$max-distance, 0);
			}
			16.666% {
				@include rise($max-distance, 0);
			}
			33.333% {
				@include rise(0, -$max-distance);
			}
			50% {
				@include rise(0, $max-distance);
			}
			66.666% {
				@include rise(-$max-distance, -$max-distance);
			}
			83.333% {
				@include rise($max-distance, $max-distance);
			}
			100% {
				@include rise(-$max-distance, 0);
			}
		}
}
