.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$spacer/2;

	&-item {
		width: 100%;
		padding-right: $spacer/2;
		margin-bottom: $spacer/2;

		@for $i from 2 through 9 {
			.gallery-columns-#{$i} > & {
				width: 100%/$i;
			}
		}
	}
}
