ul.nav, .nav ul {
	list-style: none;
	padding-left: $spacer;
}

.menu {
	&__nav {
		li  {
			display: inline-block;

			+ li {
				margin-left: $spacer;
			}
		}
		a {
			color: inherit;
			text-decoration: $body-color;
			&:hover {
				text-decoration: underline;
				color: $link-hover-color;
			}
		}
	}
}
