.post-filter {
	list-style: none;
	display: inline;
	padding: 0;
	font-size: 24px;

	&::before {
		content: ':';
		margin-right: $spacer*2;
	}
	// &::after {
	// 	content: ')';
	// }

	&__term {
		display: inline-block;
		margin-right: $spacer;

		> a {
			color: inherit;

			&:hover {
				color: $link-color;
			}
		}

		&::after {
			content: '/';
			margin-left: $spacer;
			display: inline;
		}

		&:last-of-type {
			margin-right: 0;
			&::after {
				content: '';
				display: none;
			}
		}
	}
}
