.nav {
	&-previous {
		float: left;
	}
	&-next {
		float: right;
	}
}

.infinite-scroll {
	&-status {
		display: none;
		text-align: center;
	}

	&-request {
		display: inline-block;
		margin-bottom: $spacer*3;
	}
}

.loading-text {
	&::after {
		width: 1em;
		text-align: left;
		content: '...';
		display: inline-block;
		animation: dots 1.5s linear infinite;
	}
}

@keyframes dots {
	0% {
		content: '';
	}
	25% {
		content: '.';
	}
	50% {
		content: '..';
	}
	75% {
		content: '...';
	}
	100% {
		content: '';
	}
}
