.content-info {
	// background-color: $gray-light;
	// background: linear-gradient($body-bg, rgba($body-bg, 0.4)), url('../images/texture-2.jpg');
	// background: linear-gradient($body-bg, rgba($body-bg, 0.55)), url('../images/texture-2.jpg');
	// background: linear-gradient($body-bg, transparent), url('../images/texture-2.jpg');
	// background: linear-gradient($body-bg, rgba($body-bg, 0.4), transparent), url('../images/texture-2.jpg');
	// padding: $spacer;
	// min-height: 500px;
}
