.banner {
	// background: linear-gradient(0deg, $body-bg, rgba($body-bg, 0.6)), url('../images/texture-1.jpg');
	z-index: 1000;

	padding: $spacer 0;

	&__row {
		align-items: center;
		flex-wrap: nowrap;
		// height: $header-height;
	}

	&__item {
		padding: 0 $spacer/2;
		// width: $spacer * 7;
		flex-shrink: 1;
		line-height: 13px;
		margin-bottom: 30px;
		text-align: right;
	}
	&__main {
		width: auto;
		flex-basis: auto;
		flex-grow: 1;
		margin-bottom: 0;
		text-align: left;
	}
	&__menus {
		display: flex;
		flex-direction: column;
		align-items:flex-end;
		text-transform: lowercase;

		li {
			display: inline-block;
			line-height: $spacer;
		}
	}
	&__menu-button {
		padding-left: $spacer * 2;
	}
}

.brand {
	text-decoration: none;

	&__logo {
		margin: 0;
	}
	&__title {
		font-size: 37px;
		text-transform: uppercase;
	}
}

.hamburger {
	padding: 0;
	position: relative;

	&-box {
		display: block;
	}

	&-inner {
		&,
		&::after,
		&::before {
			.hamburger:hover & {
				background-color: $hamburger-hover-layer-color;
			}
		}
	}
}
