.sub-header {
	// background-color: $gray-light;
	// $overlay-color: rgba($body-bg, 0.4);
	// background: linear-gradient(0deg, $body-bg, rgba($body-bg, 0.4)), url('../images/texture-1.jpg');
	padding: $spacer*1.5 0;

	font-size: 32px;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.nav {
		@include make-container();
		@include make-container-max-widths();
		flex-direction: row !important;
	}
		li {
			+ li {
				margin-left: $spacer * 2;
			}

		}
			a:hover {
				color: $accent-color;
				// text-decoration: none;
			}
}
